body > h3 {
  text-align: center;
  font-size: 36px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
}

#map {
      height: 400px;
      width: 800px;
      cursor: auto;
      cursor: url(/dist/images/clear.png), auto !important;
}

#map > div {
      cursor: auto;
      cursor: url(/dist/images/clear.png), auto !important;
}

.location {
  text-align-last: center;
  width: 100%;
  justify-items: center;
  display: flex;
  flex-direction: column;
}

.latitude-container, .longitude-container, #latitude, #longitude {
  text-align: left;
  display: block;
}

.map-container-inner {
  width: 100%;
  text-align: -webkit-center;
}